.reviews {
  margin-left: 30px;
  list-style: none;
}
.author {
  color: rgb(47, 46, 58);
  font-style: italic;
  font-size: 18px;
}
.rating {
  color: brown;
  font-weight: 700;
  font-size: 12px;
}
.content {
  font-size: 16px;
}
