
.header{
    background-color: blue;
    display: flex;
    padding: 25px;
}

.navlink {
    display:inline;
    margin-right: 50px;
    list-style: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(247, 243, 243);
       
}
.navlink:active,
.navlink:hover{
    background-color:rgb(95, 92, 90);
}
.link{
    color: hsl(0, 0%, 7%);
    text-decoration: none;
}
.link:active,
.link:hover{
    color: rgb(193, 236, 37);
}